* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* FONDOS */
    --bg-main: #0A0A0A;        /* fondo principal */
    --bg-bordes: #1A1A1A;     /* secciones/cards */
  
/* TEXTO */
    --text-primary: #EAEAEA;   /* texto principal */
    --text-secondary: #AAAAAA; /* texto secundario */

/* COLORES PRINCIPALES */
    --color-primary: #FFD500;  /* amarillo neon (principal) */
    --color-secondary: #00F0FF; /* azul electrico */
    --color-accent: #C9A227;   /* dorado */
    --color-danger: #FF3B3B;   /* rojo (alertas o detalles) */

    --glow-primary: 0 0 5px #FFD500;
    --glow-secondary: 0 0 5px #00F0FF;
}

/* ESTILOS */

body {
    background-color: var(--bg-main);
    font-family: 'Inter', sans-serif;
    color: white;
}

h1, h2, h3, a{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

h1 {
    text-shadow: var(--glow-primary);
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

h2, h3 {
    color: var(--color-primary);
    text-shadow: var(--glow-primary);
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
a {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--text-primary);
}

strong {
    color: var(--color-primary);
    text-shadow: 0 0 15px var(--color-accent);
}

/* ESTRUCTURA */

header {
    position: sticky;
    top: 0;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(10, 10, 10, 0.6);
    backdrop-filter: blur(10px);
}

.logo {
    padding-left: 1rem;
    height: 4.7vh;
}

.nav {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 7rem;
}

.nav li {
    margin: 10px;
}

.nav li a:hover {
    color: var(--color-primary);
    text-shadow: var(--glow-primary);
}

.container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.redes {
    height: 30px;
    width: auto;
    margin-left: 30px;
}


.hero {
    background-image: url(../assets/img/bghero.png);
    background-repeat: round;
    height: 92vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 }

.hero p {
    text-overflow: ellipsis;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 1.1rem;
    width: 500px;
}

.hero h1 {
    font-size: 4.2rem;
    text-align: left;
    width: 500px;
}

.btn {
    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
    box-shadow: 0 0 6px var(--color-primary);
    border-radius: 5px;
    color: var(--color-primary);
    border: none;
    padding: 1rem 3rem 1rem 3rem;
    margin-right: 14rem;
    font-size: 1rem;
    letter-spacing: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-accent);
    color: var(--text-primary);
}

.biografia {
    margin-top: 1rem;
    border-top: solid 2px var(--bg-bordes);
    height: 73vh;
    display: flex;
}

.biografia-img {
    width: 35%;
}

.biografia-img img {
    width: 100%;
    height: 100%;
    border-right: 2px solid var(--bg-bordes);
}

.biografia-contenido {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3rem;
    gap: 3rem;
}

.biografia-contenido h2 {
    padding-bottom: 2rem;
}

.biografia-contenido h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: var(--color-primary);
  margin-top: 1rem;
  box-shadow: 0 0 8px var(--color-primary);
}

.contenido-texto p{
    padding-bottom: 1rem;
}

.contenido-logos {
    display: flex;
    gap: 6rem;
}

.contenido-logos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.contenido-logos div img {
    width: 80px;
    height: auto;
}

.contenido-logos div p {
    font-family: 'Orbitron', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: var(--color-primary);
}

.musica {
    padding-top: 3rem;
    border-top: solid 2px var(--bg-bordes);
    height: 80vh;
    display: flex;
    background-image: url(../assets/img/concierto.png);
    background-position: right;
    background-size: 80%;
    background-repeat: no-repeat;
}

.musica-caja {
    width: 60%;
}

.caja-texto {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80vh;
}

.caja-texto h2 {
    padding-bottom: 1rem;
}

.caja-texto h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: var(--color-primary);
  margin-top: 1rem;
  box-shadow: 0 0 8px var(--color-primary);
}


.contenido-listas {
    padding: 3rem;
    display: flex;
    gap: 4rem;
}

.listas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.listas ul {
    padding-left: 1rem;
}

.listas ul li::marker {
  color: var(--color-primary);
}

.listas ul li {
    padding-top: 0.8rem;
}

.listas img {
    width: 8vh;
}

.video {
    display: flex;
    height: 98vh;
    border-top: 2px solid var(--bg-bordes);
}

.video-contenedor {
    width: 100%;
    border-right: 2px solid var(--bg-bordes);
}

.video-contenedor h2 {
    padding: 3rem 3rem 3rem 3rem;
}

.video-contenedor h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--color-primary);
    margin-top: 1rem;
    box-shadow: 0 0 8px var(--color-primary);
  }
  
.video-live {
    width: 95%;
    height: auto;
    padding: 0 0 2rem 3rem;
}

.video-contenedor p {
    padding-left: 3rem;
}

.video-cita {
    display: flex;
    background-image: url(../assets/img/video-img.jpg);
    background-size: cover;
    background-repeat: space;
    flex-direction: column;
    padding: 3rem 0 0 0;
}

#comilla {
    margin-left: 1rem;
}

.cita-comilla {
    display: flex;
    justify-content: right;
    padding-right: 1rem;
}

.video-cita img {
    width: 50px;
}

.cita {
    padding: 1rem 3rem 0 3rem;
}

.cita blockquote {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.cita p {
    text-align: right;
    color: var(--color-primary);
    text-shadow: var(--glow-primary);
}

.footer-container {
    border-top: 2px solid var(--bg-bordes);
}

.container-redireccion {
    background-image: url(../assets/img/bganuncio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container-redireccion button {
    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
    box-shadow: 0 0 6px var(--color-primary);
    border-radius: 5px;
    color: var(--color-primary);
    border: none;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1rem;
    letter-spacing: 4px;
    cursor: pointer;
}

.container-redireccion button:hover {
    background-color: var(--color-accent);
    color: var(--text-primary);
}

.container-fin {
    height: 40vh;
    display: flex;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    
}

.container-fin img {
    height: 40px;
    width: auto;
}

#logo {
    padding-right: 4rem;
    border-right: 2px solid var(--bg-bordes);
    height: 8rem;
}

.fin-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 3rem 1.8rem 3rem;
    border-right: 2px solid var(--bg-bordes);
}

.fin-nav ul {
    list-style: none;
}

.fin-nav ul li {
    padding-bottom: 1rem;
}

.fin-nav ul li:hover {
    text-decoration: underline;
    text-shadow: var(--glow-primary);
}

.fin-redes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 0 3rem 2.5rem 3rem;
    border-right: 2px solid var(--bg-bordes);
}

.redes-container{
    display: flex;
    gap: 1rem;
}

.fin-creditos {
    padding: 0 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fin-creditos ul {
    list-style: none;
}