* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* FONDOS */
    --bg-main: #0A0A0A;        /* fondo principal */
    --bg-bordes: #1A1A1A;     /* secciones/cards */
  
/* TEXTO */
    --text-primary: #EAEAEA;   /* texto principal */
    --text-secondary: #AAAAAA; /* texto secundario */

/* COLORES PRINCIPALES */
    --color-primary: #FFD500;  /* amarillo neon (principal) */
    --color-secondary: #00F0FF; /* azul electrico */
    --color-accent: #C9A227;   /* dorado */
    --color-danger: #FF3B3B;   /* rojo (alertas o detalles) */

    --glow-primary: 0 0 5px #FFD500;
    --glow-secondary: 0 0 5px #00F0FF;
}

/* ESTILOS */

body {
    background-color: var(--bg-main);
    font-family: 'Inter', sans-serif;
    color: white;
}

h1, h2, h3, a{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

h1 {
    text-shadow: var(--glow-primary);
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
a {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--text-primary);
}
/* ESTRUCTURA */

header {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 2px solid var(--bg-bordes);
}

.logo {
    padding-left: 1rem;
}

.nav {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 7rem;
}

.nav li {
    margin: 10px;
}

.nav li a:hover {
    color: var(--color-primary);
    text-shadow: var(--glow-primary);
}

.container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.redes {
    height: 30px;
    width: auto;
    margin-left: 30px;
}


.hero {
    background-image: url(../assets/img/bghero.png);
    background-repeat: round;
    height: 92vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 }

.hero p {
    text-overflow: ellipsis;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 500px;
}

